<div class="container" *ngIf="hopitalFormGroup">
  <form [formGroup]="hopitalFormGroup" >

    <div class="form-group">
      <label>Code_hopitale</label>
      <input type="text" class="form-control" formControlName="Code_hopitale">
    </div>




    <div class="form-group">
      <label>Nom_Hopitale</label>
      <input type="text" class="form-control" formControlName="Nom_Hopitale"
             [ngClass]="{'is-invalid':submitted && hopitalFormGroup.controls.name.errors}">
      <div *ngIf="submitted && hopitalFormGroup.controls.name.errors" class="invalid-feedback">
        <div *ngIf="hopitalFormGroup.controls.name.errors.required">Nom_Hopitale  is Required</div>
      </div>
    </div>

    <button class="btn btn-success" (click)="onUpdateProduct()">Save</button>
  </form>
</div>
